<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% block title %}{{ title }} - Roverland{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/public/css/output.css" rel="stylesheet">

        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#603cba">
        <meta name="theme-color" content="#ffffff">

        {% block head %}{% endblock %}
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">
            You are using an <strong>outdated</strong> browser. Please
            <a href="http://browsehappy.com/">upgrade your browser</a> to improve
            your experience.
            </p>
        <![endif]-->
    <nav class="bg-white border-gray-200 px-2 sm:px-4 py-1 rounded dark:bg-gray-900">
    <div class="container flex flex-wrap justify-between items-center mx-auto">
        <a href="/" class="flex items-center">
            <img src="public/img/logo_small.png" class="mr-3 h-6 sm:h-9" alt="Roverland Minimal Logo" />
            <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">Roverland</span>
        </a>
        <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center
                                      p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden
                                      hover:bg-gray-100 focus:outline-none focus:ring-2
                                      focus:ring-gray-200 dark:text-gray-400
                                      dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                aria-controls="navbar-default" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-6 h-6" aria-hidden="true" fill="currentColor"
             viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                  d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd">
            </path></svg>
        </button>
        <div class="hidden w-full md:block md:w-auto" id="navbar-default">
        <ul class="flex flex-col p-4 mt-4 bg-gray-50 rounded-lg border
                   border-gray-100 md:flex-row md:space-x-8 md:mt-0 md:text-sm
                   md:font-medium md:border-0 md:bg-white dark:bg-gray-800
                   md:dark:bg-gray-900 dark:border-gray-700">
            <li>
            <a href="/map" class="block py-2 pr-4 pl-3 text-gray-700
                     rounded hover:bg-gray-100
                     md:hover:bg-transparent md:border-0 md:hover:text-blue-700
                     md:p-0 dark:text-gray-400 md:dark:hover:text-white
                     dark:hover:bg-gray-700 dark:hover:text-white
                     md:dark:hover:bg-transparent">Map</a>
            </li>
            <li>
            <a href="/login" class="block py-2 pr-4 pl-3 text-gray-700
                     rounded hover:bg-gray-100
                     md:hover:bg-transparent md:border-0 md:hover:text-blue-700
                     md:p-0 dark:text-gray-400 md:dark:hover:text-white
                     dark:hover:bg-gray-700 dark:hover:text-white
                     md:dark:hover:bg-transparent">Login</a>
            </li>
            <li>
            <a href="#" class="block py-2 pr-4 pl-3 text-gray-700
                     rounded hover:bg-gray-100
                     md:hover:bg-transparent md:border-0 md:hover:text-blue-700
                     md:p-0 dark:text-gray-400 md:dark:hover:text-white
                     dark:hover:bg-gray-700 dark:hover:text-white
                     md:dark:hover:bg-transparent">About</a>
            </li>
        </ul>
        </div>
    </div>
    </nav>
<div class="container">
        {% block content %}{% endblock %}
        </div>
    </body>
</html>
